<configuration>
   <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <dependentAssembly>
            <assemblyIdentity name="simias" />
            <codeBase href="./web/bin/simias.dll"/>
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="log4net" />
            <codeBase href="./web/bin/log4net.dll"/>
         </dependentAssembly>
      </assemblyBinding>
   </runtime>
</configuration>

