<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="simiasclient" />
        <codeBase href="file:///C:/Program%20Files/iFolder/web/bin/simiasclient.dll" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>