/* left hand nav styles */
html {
	height: 100%;
	margin:0;
	padding:0;
	background-color:#e0e0e0;
	border-left: 1px solid #a1a1a1;
	border-right: 1px solid #a1a1a1;
	border-radius: 5px 5px 0 0;
}
body { 
	min-height: 100%;
	margin:0px 8px 0px 8px;
	padding:0px 0px 0px 0px;
	border: 0;
	font-family: geneva, arial, helvetica, sans-serif;
	font-size: 14px;
	background-color:#ffffff;
}
#header {
	height: 48px;
	top:0px;
	left: 9px;
	right: 8px;
	background-color:#e0e0e0;
}
#toc {
	position: relative;
	top: -8px;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	border-radius: 0 5px 0 0;
	background-color:#ffffff;
}
#tocTop {	height:15px; }/* Don't remove - referenced in toc.js */
#tocContent {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
#tabs {
	margin:0px 0px 10px 0px;
	padding:14px 5px 2px 0px;
}
.tocItem {
	line-height: 30px;
	white-space:nowrap;
	position:absolute;
	visibility:hidden;
	left:8px;/* Position is set in toc.js */
	color:#a40000;
	padding-top:1px;
}
.tocItem a {
	outline:none;
}
img {
	vertical-align:middle;
	border: none;
	height:18px;
	width:18px;
}
.node { color: #333333; white-space:nowrap;}
.node a:link { color: #333333; text-decoration: none; }
.node a:visited { color: #333333; text-decoration: none; }
.node a:active { color: #a40000; text-decoration: none; outline:none;}
.node a:hover { color: #999999; text-decoration: none; }
.leaf { color: #333333; white-space:nowrap; }                  
.leaf a:link { vertical-align: middle; color: #333333; text-decoration: none;}
.leaf a:visited { vertical-align: middle; color: #333333; text-decoration: none; }
.leaf a:active { vertical-align: middle; color: #a40000; text-decoration: none;outline:none;}
.leaf a:hover { vertical-align: middle; color: #999999; text-decoration: none; }

#tabs a {
	color:#4d425c;
	font-weight: bold;
	margin:0px 6px 0px 0px;
	padding:2px 7px 2px 7px;
}
#tabs a.tab-selected {
	cursor:default;
	color: #65929e;
	text-decoration: none;
	background-color:#ffffff;
	padding:4px 7px 14px 7px;
	border-radius:3px 3px 0 0;
}
#tabs a.tab-unselected {
	cursor:default;
	color: #949494;
	text-decoration: none;
	background-color:#f8f8f8;
	padding: 4px 7px 6px 7px;
	border-radius:3px 3px 3px 3px;
}
#tabs a.tab-unselected:hover {
	background-color:#b8b8b8;
	color:#ffffff;
	cursor:pointer;
}
#tabs a:focus, #tabs a:active  {
  outline: none;
}
.entry1 { margin-left: 8px; }
.entry2 { margin-left: 16px; }
.targets {
  border: 1px solid gray;
  margin:0px 0px 0px 0px;
  padding:0px 10px 0px 10px;
}
#index, #search, #noscript { 
  margin:10px 0px 0px 5px;
  padding:0px 0px 0px 0px;
}
#searchform, #indexform { 
	margin:0px 0px 0px 0px;
	padding:5px 30px 5px 5px;
	background-color:#ffffff;
}
#searchContent, #indexContent { margin:55px 0px 0px 5px; }
#searchform input, #indexform input { font-size:14px; }
input.field {
	padding:1px 1px 1px 1px; 
	border-radius:5px 5px 5px 5px;
}
#searchform input.field {	width:220px; }
#indexform input.field { width:280px; }
#output { font-family: geneva, arial, ms sans serif, sans-serif; }
#output a {
	text-decoration:none; 
	font-weight:bold; 
	color:#0000cc;
	outline:none;
}
#output a:hover {color:#3366ff;}
#output a:visited {color:#993333;}
#indexContent a { text-decoration: none; }
#indexContent a:focus, #indexContent a:active { color: #a40000; outline:none; }
input:focus, textarea:focus{
	background-color: #ffffe0;
}
.inactive {	display:none; }

/* left hand nav rtl styles */	
[dir=rtl] .tocItem {left:0px;	right:8px;}
[dir=rtl] .entry1 { margin:0px 8px 0px 0px; }
[dir=rtl] .entry2 { margin:0px 16px 0px 0px; }
[dir=rtl] #index, [dir=rtl] #search {  margin:60px 5px 0px 0px; }
[dir=rtl] #searchform, [dir=rtl] #indexform { padding:5px 5px 5px 0px; }
[dir=rtl] #searchContent, [dir=rtl] #indexContent { margin:75px 5px 0px 0px; }
[dir=rtl] input.field { padding:0px 1px 0px 0px; }
/* begin bidirectionality */
bdo[dir=ltr] {direction:ltr; unicode-bidi:bidi-override}
bdo[dir=rtl] {direction:rtl; unicode-bidi:bidi-override}
*[dir=ltr] {direction:ltr; unicode-bidi:embed}
*[dir=rtl] {direction:rtl; unicode-bidi:embed}
