.expanded span {
  float:left;
  width:16px;
  height:15px;
  margin-right : 3px;
  background:url("expanded.gif") no-repeat;	
  cursor: pointer;
}
.collapsed span {
  float:left;
  width:16px;
  height:15px;
  margin-right : 3px;
  background:url("collapsed.gif") no-repeat;	
  cursor: pointer;
}
