<configuration>
  <section name="ServiceManager">
	<setting name="WebServicePath" value="/opt/novell/ifolder3/web" />
    <setting name="Services">
      <Service name="Simias Change Log Service" assembly="Simias" enabled="True" type="Thread" class="Simias.Storage.ChangeLog" />
      <Service name="Simias Multi-Cast DNS Service" assembly="mDnsService.exe" enabled="True" type="Process" />
      <Service name="Simias Interprocess Event Service" assembly="Simias" enabled="True" type="Thread" class="Simias.Event.IProcEventServer" />
      <Service name="Simias PO Service" assembly="Simias" enabled="True" type="Thread" class="Simias.POBox.POService" />
      <Service name="Simias Sync Client" assembly="Simias" enabled="True" type="Thread" class="Simias.Sync.Client.SyncClient" />
    </setting>
  </section>
</configuration>
